extends layout

block content
  script(src='/javascripts/dex.js')
  body    
    p Hello. Welcome to Garden Party Club, a platform for collaboratively and anonymously creating collages in real time. Do it with a friend. :) Find or create a garden below. Drag stuff around, shift-click to delete an image. 
    h4#title garden index 
    ul
      each item in data
        li
          a(href=item) 
            = item
     h4#roomzone create a garden
      form
        input(type="text" autocomplete="off")
        button create