extends layout

block content
  script(src='/javascripts/dex.js')
  body(onload="loadIndex()")
    p Hello. Welcome to Garden Party, a platform for collaboratively and anonymously creating collages in real time. Find or create a garden below. Drag stuff around, double-click to delete.
    h4#title garden index 
    ul#roomlist
    h4#roomzone create a garden
      form
        input(type="text" autocomplete="off")
        button(onclick="garden(event)") create