extends layout

block content
	//- form(action="/file-upload", class="dropzone", id="my-awesome-dropzone")
	img#octopus(src='/images/octopus_emoji.png')
	img#homer(src='/images/no-words-homer-into-brush.gif')