extends layout

block content
	//- form(action="/file-upload", class="dropzone", id="my-awesome-dropzone")
	img#cd(src="https://24.media.tumblr.com/b154958afc9d1671f887c8d8966c0f0a/tumblr_n2pu6eKH5e1s4qkbzo1_500.gif")
	img#a(src="https://31.media.tumblr.com/cf6d98e542fab4b7177822af6bc9bafe/tumblr_n25mjsjbwo1rm6jd7o1_500.png")
	img#octopus(src='/images/octopus_emoji.png')
	img#sun(src="https://24.media.tumblr.com/145d95ef6abab11f57a60bcdcc0c84b5/tumblr_mm72tskumx1rgpyeqo1_500.png")
	img#e(src="https://31.media.tumblr.com/605c67bac81abb94f962406835622126/tumblr_n11kx5LqTY1scncwdo1_500.gif")
	img(src="https://31.media.tumblr.com/bbf97a532e90496d67eb27bdecb0cfb0/tumblr_n2pigpfx771sfxyumo1_400.gif")
	img#d(src="https://24.media.tumblr.com/88881b233cc05971072bb96189f57731/tumblr_n2nieoB1mf1so0ukuo1_500.gif")
	img#c(src="https://31.media.tumblr.com/aeefd94f39787bf89742b664936d0ded/tumblr_n2rfsbb9KV1rby04wo1_1280.gif")