doctype html
html(lang="en")
    head
        title= title
        link(rel='icon', href='/images/fav.ico')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/bower_components/luck.js/Ω.js')
        script(src="/socket.io/socket.io.js")
        script Ω().shortcuts();
    block content