doctype html
html(lang="en")
    head
        title= title
        link(rel='icon', href='fav.ico')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/socket.io/lib/socket.io.js")
        script(src='/javascripts/Ω.js')
        script(src='/javascripts/lib/garden.js')
        script
          Ω().shortcuts();
    block content