doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(src='/javascripts/jquery-ui-1.10.4.custom.js')
    script(src="/socket.io/lib/socket.io.js")
    script(src='/javascripts/fun.js')
  body
    block content
 