extends layout

block content
  script(src='/javascripts/fun.js')
  body
    #zone
    #uploadzone
      form(method="POST" action="/file-upload" enctype="multipart/form-data")
        input(type="file" name="file")
        input(type="submit" value="submit")