extends layout

block content
  script(src='/javascripts/fun.js')
  body
    #zone
    #navbar
      ul
        li#baritem
        li#baritem upload an image:
        li#baritem
          form(method="POST" action="upload()" enctype="multipart/form-data")
            input(type="file" name="file")
            input(type="submit" value="submit")
        li#baritem change the background:
        li#baritem
          #bgzone
            input(type="text" id="bgInput" name="url" placeholder="paste a url")
            button#bgbutton submit 