extends layout

block content
	#zone
	//- - for (var i in imgs)
	//-   img(src="|= imgs[i].src",style="")
	//- img#sunflower(src="https://31.media.tumblr.com/7389733132e0da2a85b0af21b3d39676/tumblr_mp01sjLbhC1sn8q7mo1_500.png")
	//- img#purp(src="https://31.media.tumblr.com/d77d80c09bcf7f3e054a072effd26395/tumblr_ml1n1yutFw1rm6jd7o1_500.png")
	//- img#next(src="https://24.media.tumblr.com/b17b3f3c2ad77504ac90ad7f0be2b26a/tumblr_mtwd0uRjMw1scoxapo1_400.gif")
	//- img#anothadsfer(src="https://24.media.tumblr.com/928edb940270832bbbf6d1d1cb8ad25e/tumblr_mruw8vdeZJ1sfz8t3o5_r1_250.gif")
	//- img#anothefdar(src="https://24.media.tumblr.com/b76d46e7a1f12326831225dd90bfec1b/tumblr_myhsmn3hfW1s7zam6o1_500.gif")
	//- img#anofdather(src="https://31.media.tumblr.com/01ade230fac107d3203800188ee8dd90/tumblr_mruw8vdeZJ1sfz8t3o8_r1_250.gif")
	//- img#anfother(src="https://24.media.tumblr.com/51d2460da1a7a258dada1195795f3509/tumblr_mu11xmngHj1rmdrjqo1_500.gif")
	//- img#yeah(src="https://24.media.tumblr.com/9aadf0a53a0b981840f115442f082ea7/tumblr_mruw8vdeZJ1sfz8t3o1_250.gif")
	//- img#pinkrose(src="https://31.media.tumblr.com/cf6d98e542fab4b7177822af6bc9bafe/tumblr_n25mjsjbwo1rm6jd7o1_500.png")
	//- img#fdasgga(src="https://24.media.tumblr.com/a8c25e86e7b264bfdd6bf03182c2175d/tumblr_mlljnun3C01rarj2no1_500.png")
	//- img#fdategdasdva(src="https://31.media.tumblr.com/d679bd461d8f432616dda721f077c383/tumblr_mj7r1eTmR81rl43djo1_500.png")
	//- img#fad(src="https://31.media.tumblr.com/5c6749de6b5c440f287ae008dd33fb85/tumblr_mit7sz8cLc1rm6jd7o1_500.png")
	//- img#fdadfa(src="https://31.media.tumblr.com/9e495b549fb2286ac2e70f231e6ee730/tumblr_mutvegLIds1rm6jd7o1_500.png")
	//- img#sad(src="https://31.media.tumblr.com/8f77af3dbf7fa0b781c6eaaa0342f608/tumblr_miv4gzcWRb1rm6jd7o1_r1_500.png")

	//- form(action="/file-upload", class="dropzone", id="my-awesome-dropzone")
	//- img#cd(src="https://24.media.tumblr.com/b154958afc9d1671f887c8d8966c0f0a/tumblr_n2pu6eKH5e1s4qkbzo1_500.gif")
	//- img#octopus(src='/images/octopus_emoji.png')
	//- img#sun(src="https://24.media.tumblr.com/145d95ef6abab11f57a60bcdcc0c84b5/tumblr_mm72tskumx1rgpyeqo1_500.png")
	//- img#e(src="https://31.media.tumblr.com/605c67bac81abb94f962406835622126/tumblr_n11kx5LqTY1scncwdo1_500.gif")
	//- img(src="https://31.media.tumblr.com/bbf97a532e90496d67eb27bdecb0cfb0/tumblr_n2pigpfx771sfxyumo1_400.gif")
	//- img#d(src="https://24.media.tumblr.com/88881b233cc05971072bb96189f57731/tumblr_n2nieoB1mf1so0ukuo1_500.gif")
	//- img#c(src="https://31.media.tumblr.com/aeefd94f39787bf89742b664936d0ded/tumblr_n2rfsbb9KV1rby04wo1_1280.gif")