html {
	min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-position: center top;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 100%;
  min-height: 100%;
}

form {
  height: 100%;
  width: 100%;
}

iframe {
  padding-top: 6px;
  padding-bottom: 4px;
  position: absolute;
  bottom: 0;
}

img {
  max-height: 200px;
  max-width: auto;
}

ul {
  margin: 1px 1px 1px 1px;
}

#zone{
  min-height: 800px;
}

#navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: auto;
  color: white;
  background-color: black;
  height: 35px;
  z-index: 999999999999999999999999999999999;
}

.baritem {
  display: inline-block;
  padding-right: 10px;
}

/*#upload {
  display: none;
}*/