html {
	height: 100%;
}

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  /*background: url("http://newevolutiondesigns.com/images/freebies/flowers-wallpaper-7.jpg");*/
  background: url("/IMAGES/BLACKWAVE.PNG");
  background-position: bottom center;
  /*background: url("http://www.trendastic.com/wp-content/uploads/2013/05/Windows-Xp-Bliss-Wallpaper.png");*/
}

a {
  color: #00B7FF;
}

form {
	height: 100%;
	width: 100%;
}

img{
	max-height: 200px;
	max-width: auto;
}